<?xml version="1.0"?>

<configuration>
    <connectionStrings>
        <add name="TouristGuideDB" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=TouristGuideDB;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <authentication mode="Windows"/>
    </system.web>
</configuration>
