<?xml version="1.0"?>

<configuration>
    <connectionStrings>
        <add name="TouristGuideDB" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=TouristGuideDB;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <authentication mode="Windows" />
    </system.web>
    <!--<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="TouristGuide.Service.WpServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
        <services>
            <service behaviorConfiguration="TouristGuide.Service.WpServiceBehavior" name="TouristGuide.Service">
                <endpoint binding="basicHttpBinding" contract="TouristGuide.Service.IWPService" bindingConfiguration="BasicHttpBinding_IService" />
            </service>
        </services>
    </system.serviceModel>-->
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="ServiceBehavior" name="WPService">
                <endpoint address="" binding="wsHttpBinding" contract="IWPService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    </system.serviceModel>

</configuration>
