@{
    ViewBag.Title = "O nas";
}

<h2>
    O co chodzi?</h2>
<p>
    <img src="../../Content/images/NET_h_rgb_2.png" alt="Grupa.NET EKA" style="float: right;
        width: 260px; vertical-align: text-top" />
    Jesteśmy aktywnym kołem naukowym na wydziale Elektroniki Politechniki Wrocławskiej,
    które istnieje od ponad 6 lat. Na cotygodniowych spotkaniach wspólnie rozwijamy
    nasze pasje związane z branżą IT – zarówno w zakresie nowych technologii oraz szeroko
    pojętej inżynierii oprogramowania jaki i zarządzania projektami.</p>
<p>
    Nasz obecny zespół to ok. 20 stale zaangażowanych w rozwój osób oraz ponad 100 sympatyków.
    Poza cotygodniowymi spotkaniami, na których dzielimy się wiedzą z zakresu najnowszych
    technologii, uczestniczymy i organizujemy wiele konferencji i wydarzeń związanych
    z naszą branżą. Organizowaliśmy mi. IT Academic Day, Konferencję HCL, braliśmy udział
    w Konferencji Naukowej Studentów, IT Days, Targach Pracy.</p>

<h2>Dlaczego warto należeć do Grupy .NET EKA?</h2>

<p>Każda osoba należąca do koła dostaje możliwość:</p>

<ul>
    <li>Dostępu do najświeższej wiedzy z dziedziny informatyki,</li>
    <li>Realizowania projektów grupowych i indywidualnych w najnowszych technologiach (wersje
        beta czy alfa technologii nie stanowią dla nas problemów),</li>
    <li>Udziału w organizacji jednych z największych wydarzeń na naszej uczelni,</li>
    <li>Często jako pierwsza zapoznania się z aktualnymi ofertami pracy i praktyk,</li>
    <li>Skorzystania z promocji oraz bonusów oferowanych przez naszych partnerów,</li>
    <li>Wyjazdów na ważniejsze konferencje technologiczne,</li>
    <li>Doskonalenia pracy w zespole,</li>
    <li>I "last but not least", poznania ciekawych, głodnych wyzwań ludzi ;-).</li>
</ul>
<h2>Nasi członkowie</h2>
<p>
    Do naszego zespołu należą najlepsi studenci i doktoranci Politechniki Wrocławskiej,
    posiadacze prestiżowych nagród i wyróżnień, laureaci konkursów programistycznych,
    autorzy wielu znakomitych artykułów w prasie branżowej. Do naszego koła naukowego
    należeli również obecni pracownicy najlepszych firm rynku IT, którzy nadal dzielą
    się z nami wiedzą i doświadczeniem podczas spotkań.</p>
<h2>Nasi partnerzy</h2>
<p>Microsoft, Grupa TETA, Volvo, Kaspersky, Contium, Online Solutions</p>
