@{
    ViewBag.Title = "Home Page";
}

<h1>Aktualności</h1>

<h2>Grupa .NET EKA - Ruszamy! Rok akademicki 2011/2012</h2>
<h3>@DateTime.Now.ToShortDateString()</h3>
<p>   
Jak co roku Grupa .NET EKA (Politechnika Wrocławska, wydział Elektroniki) wraz z początkiem semestru startuje z prelekcjami. Jeśli chcesz uczestniczyć w życiu grupy, jesteś pasjonatem technologii .NET lub chcesz się czegoś nauczyć nie powinno Cię zabraknąć! 
</p>
<p>
Pierwsze spotkanie w tym semestrze: <br />
Kiedy? 12.10.2011 (Środa), godzina 19:15<br />
Gdzie? C-5, sala nr 3
</p>
