@{
ViewBag.Title = "Mobile app";
}

<p style="text-align: justify">As an integral part of our Tourist Guide web application, 
we developed mobile application for Windows Phone 7 as well.
First release is available in the link <a href="#">Tourist Guide Mobile App v1.0</a>.
</p>

<p style="text-align: justify">Tourist Guide Mobile App was designed especially to fulfill the needs and desires of all people who want
to plan their travel or decide what is worth seeing when they are already in the unknown place. 
Our Mobile Application gives us a comprehensive tool and helpfull hand to assist tourist all around 
the world in friendly and easy way.</p>

<p style="text-align: justify">Our team paid a lot of attention to create very intuitive user interface. 
Our application as an integral part of Windows Phone uses metro style theme 
with big and understandable icons and cubes. What’s more Travel Guide uses Windows Phone technology 
features such as GPS and internet connection to navigate user during excursions and sightseeing tours 
in the city and outside. To highlighted functions can we include integration mobile device with web service. 
For instance, user want to plan ahead his/her own schedule of sightseeing, so first is sign on web page 
and read opinions of people who were there in the past, checking description, watching pictures and parallel 
create their personal schedule. Previously created schedule can be downloaded to mobile device and guide us to destinations.
</p>